.row{
    margin-bottom: 0;
}
nav{
    box-shadow: none;
    position: fixed;
    z-index: 999;
    background-color: transparent;
}
nav ul li a{
    font-size: 16px;
    font-weight: bold;
    transition: all .3s ease-in-out;
    color: #ddd;
}
nav ul li a:hover{
    color: #fff;
    transition: all .3s ease-in-out;
    background-color: transparent !important;
}
.brand-logo img{
    width: 180px;
}
.header-friopacking{
    position: relative;
    width: 100%;
    height: 100vh;
}
.header-mask{
    position: absolute;
    top: 0;
    left: 0;
    background: #191b56;
    opacity: .35;
    width: 100%;
    height: 100vh;
}
.header-title{
    font-size: 60px;
    color: #fff;
    position: absolute;
    top: calc(50% - 60px);
    width: 100%;
    text-align: center;
}
.header-go{
    width: 50px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    border: 2px solid #eee;
    color: #eee;
    position: absolute;
    bottom: 70px;
    left: calc(50% - 25px);
}
.header-go i{
    line-height: inherit;
    font-size: 2.2rem !important;
}
#video{
    width: 100%; /* Could also use width: 100%; */
    height: 100vh;
    object-fit: cover;
    position: relative; /* Change position to absolute if you don't want it to take up the whole page */
    left: 0px;
    top: 0px;
    z-index: -1;
}
.mood{
    background: #eee;
}

.video-collection{
    position: relative;
    width: 100%;
    height: auto;
    background: #333;
}

.video-item{
    width: 100%;
    height: auto;
}